.m-auto {
  margin: auto;
}
.my-auto {
  margin-block: auto;
}
.mx-auto {
  margin-inline: auto;
}
.ml-auto {
  margin-inline-start: auto;
}
.mr-auto {
  margin-inline-end: auto;
}
.mt-auto {
  margin-block-start: auto;
}
.mb-auto {
  margin-block-end: auto;
}

.m-0 {
  margin: 0;
}
.ml-0 {
  margin-inline-start: 0;
}
.mr-0 {
  margin-inline-end: 0;
}
.mt-0 {
  margin-block-start: 0;
}
.mb-0 {
  margin-block-end: 0;
}
.mx-0 {
  margin-inline: 0;
}
.my-0 {
  margin-block: 0;
}

.m-3xs {
  margin: var(--space-3xs);
}
.ml-3xs {
  margin-inline-start: var(--space-3xs);
}
.mr-3xs {
  margin-inline-end: var(--space-3xs);
}
.mt-3xs {
  margin-block-start: var(--space-3xs);
}
.mb-3xs {
  margin-block-end: var(--space-3xs);
}
.mx-3xs {
  margin-inline: var(--space-3xs);
}
.my-3xs {
  margin-block: var(--space-3xs);
}

.m-2xs {
  margin: var(--space-2xs);
}
.ml-2xs {
  margin-inline-start: var(--space-2xs);
}
.mr-2xs {
  margin-inline-end: var(--space-2xs);
}
.mt-2xs {
  margin-block-start: var(--space-2xs);
}
.mb-2xs {
  margin-block-end: var(--space-2xs);
}
.mx-2xs {
  margin-inline: var(--space-2xs);
}
.my-2xs {
  margin-block: var(--space-2xs);
}

.m-xs {
  margin: var(--space-xs);
}
.ml-xs {
  margin-inline-start: var(--space-xs);
}
.mr-xs {
  margin-inline-end: var(--space-xs);
}
.mt-xs {
  margin-block-start: var(--space-xs);
}
.mb-xs {
  margin-block-end: var(--space-xs);
}
.mx-xs {
  margin-inline: var(--space-xs);
}
.my-xs {
  margin-block: var(--space-xs);
}

.m-s {
  margin: var(--space-s);
}
.ml-s {
  margin-inline-start: var(--space-s);
}
.mr-s {
  margin-inline-end: var(--space-s);
}
.mt-s {
  margin-block-start: var(--space-s);
}
.mb-s {
  margin-block-end: var(--space-s);
}
.mx-s {
  margin-inline: var(--space-s);
}
.my-s {
  margin-block: var(--space-s);
}

.m-m {
  margin: var(--space-m);
}
.ml-m {
  margin-inline-start: var(--space-m);
}
.mr-m {
  margin-inline-end: var(--space-m);
}
.mt-m {
  margin-block-start: var(--space-m);
}
.mb-m {
  margin-block-end: var(--space-m);
}
.mx-m {
  margin-inline: var(--space-m);
}
.my-m {
  margin-block: var(--space-m);
}

.m-l {
  margin: var(--space-l);
}
.ml-l {
  margin-inline-start: var(--space-l);
}
.mr-l {
  margin-inline-end: var(--space-l);
}
.mt-l {
  margin-block-start: var(--space-l);
}
.mb-l {
  margin-block-end: var(--space-l);
}
.mx-l {
  margin-inline: var(--space-l);
}
.my-l {
  margin-block: var(--space-l);
}

.m-xl {
  margin: var(--space-xl);
}
.ml-xl {
  margin-inline-start: var(--space-xl);
}
.mr-xl {
  margin-inline-end: var(--space-xl);
}
.mt-xl {
  margin-block-start: var(--space-xl);
}
.mb-xl {
  margin-block-end: var(--space-xl);
}
.mx-xl {
  margin-inline: var(--space-xl);
}
.my-xl {
  margin-block: var(--space-xl);
}

.m-2xl {
  margin: var(--space-2xl);
}
.ml-2xl {
  margin-inline-start: var(--space-2xl);
}
.mr-2xl {
  margin-inline-end: var(--space-2xl);
}
.mt-2xl {
  margin-block-start: var(--space-2xl);
}
.mb-2xl {
  margin-block-end: var(--space-2xl);
}
.mx-2xl {
  margin-inline: var(--space-2xl);
}
.my-2xl {
  margin-block: var(--space-2xl);
}

.m-3xl {
  margin: var(--space-3xs);
}
.ml-3xl {
  margin-inline-start: var(--space-3xl);
}
.mr-3xl {
  margin-inline-end: var(--space-3xl);
}
.mt-3xl {
  margin-block-start: var(--space-3xl);
}
.mb-3xl {
  margin-block-end: var(--space-3xl);
}
.mx-3xl {
  margin-inline: var(--space-3xl);
}
.my-3xl {
  margin-block: var(--space-3xl);
}

.m-4xl {
  margin: var(--space-4xl);
}
.ml-4xl {
  margin-inline-start: var(--space-4xl);
}
.mr-4xl {
  margin-inline-end: var(--space-4xl);
}
.mt-4xl {
  margin-block-start: var(--space-4xl);
}
.mb-4xl {
  margin-block-end: var(--space-4xl);
}
.mx-4xl {
  margin-inline: var(--space-4xl);
}
.my-4xl {
  margin-block: var(--space-4xl);
}
